@mixin CenterByFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin FlexSpaceEvenly {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@mixin cardMargin {
    margin: 25px;
}